JAXBTest/src/cust.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xs:element name="customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cname" type="xs:string"></xs:element>
				<xs:element name="email" type="xs:string"></xs:element>
				<xs:element name="phone" type="xs:long" ></xs:element>
			</xs:sequence>
			<xs:attribute name="cid" type="xs:int"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>