XMLTest/xml/course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:element name="course" type="xs:string">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cname" type="xs:string" />
				<xs:element name="fee" type="xs:string" />
				<xs:element name="branch" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>


