XMLTest/src/Copy of college.dtd

<!ELEMENT college (student*,course*) >
<!ELEMENT student (sname+,email+,phone) >
<!ELEMENT sname (fname,lname) >
<!ELEMENT email (oemail,pemail) >
<!ELEMENT fname (#PCDATA) >
<!ELEMENT lname (#PCDATA) >
<!ELEMENT course (cname,cfee) >
<!ELEMENT phone (#PCDATA) >
<!ELEMENT cname (#PCDATA) >
<!ELEMENT cfee (#PCDATA) >
<!ELEMENT oemail (#PCDATA) >
<!ELEMENT pemail (#PCDATA) >

<!ATTLIST student
sid CDATA #REQUIRED
job CDATA #REQUIRED>


 







